*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.all{
    width: 100vw;
    height: 100vh;
}

.ligne_profil{
    height: 8vh;
    background-color: #d3d3d3;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}
.name_magazin{
    width:18vw;
    text-align: center;
    padding-top: 1%;
    font-family: Century Gothic;
    display: block;
}
.img_profil{
    width: 3.5vw;
    height: 7vh;
    border-radius: 25px;
    display: block;
}

.navbar_profil{
    width:17vw;
    height: 91.9vh;
    background-color: #191970;
    z-index: 999;
}

.navbar_element{
    height: 4vw;
    text-align: center;
    padding-top: 6%;
}
.navbar_element:hover{
    background-color: #23297a;
}
.navbar_menu{
    list-style-type: none;
}
.navbar_links{
    text-decoration: none;
    color: #cac1c1;
}
.setting{
    height: 8vh;
    margin-top: 51vh;
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
.setting:hover{
    background-color: #23297a;
}
.setting_icon{
    width: 3vw;
    height: 6vh;
}
.set{
    color: #cac1c1;
    margin-top: 3%;
    margin-left: 3%;
}
.element_of_content{
    margin-left: 17%;
    margin-top: -42.7%;
    /* width: 81vw; */
    height: 91.9vh;
}


.count{
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
}

.courbe_des_ventes{
    display: flex;
    justify-content: center;
}
.courbe{
    background-color: #cac1c1;
    height: 52vh;
    width: 50vw;
}

#count_client,#total_price,#count_articles{
    border: 1px solid black;
    height: 22vh;
    width: 21vw;
    margin-top: 4vh;
    border-radius: 10px;
    background-color: #191970;
    color: #fff;
    display: flex;
    justify-content: space-around;
}

.clien{
    margin-top: 4vh;
    margin-left: 1vw;
}
.count_cl{
    margin-top: 4vh;
    margin-left: 4vw;
}
.client_icon{
    width: 4vw;
    height: 5vh;
    margin-top: 6vh;
}

.diagramme{
    height: 50vh;
    width: 56vw;
}