{% extends "general.html" %}
{% block content %} 
<link rel="stylesheet" href="{{url_for('static',filename='/designe/client.css')}}">
    <br>
    <div class="prod_border">
        <div class="text_prod">List of products :</div> 
        <div class="function_prod">
            <button id="btn_add" onclick="location='/product/add_product'">Add Product</button>
            <button id="btn_drop" onclick="location='/product/drop_product'">Drop Product</button>
        </div>
    </div>
    <br>
    <div class="product_table">
        <table class="styled-table">				<!-- create an table object -->
            <tr>
              <th>Product</th>				<!-- "tr" represents a row -->
              <th>Categorie</th>	<!-- use "th" to indicate header row -->
              <th>Quantite</th>
              <th>Price</th>
              <th>Description</th>
            </tr> 
            {% for info in info_product %}
            <tr>				<!-- once again use tr for another row -->
              <td>{{ info.nomProduit }}</td>	<!-- use "td" henceforth for normal rows -->
              <td>{{ info.categorie}}</td>
              <td>{{ info.Qte }}</td>
              <td>{{ info.prix }}</td>
              <td>{{ info.description }}</td>
            </tr>    
            {% endfor %}
        </table>
    </div>

{% endblock content %}